.modal-content {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 1000px;
  background-color: $gray-white;
  border-radius: 4px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
  will-change: scale;

  &__close-button {
    z-index: 1;
    position: absolute;
    padding: 31px 36px;
    top: 0;
    left: 0;
    font-size: 0;
  }

  &__loading-overlay {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    @include full-fill;
  }
}
