.home-table-recognized-person {
  &__title {
    padding: 14px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: $font-size-md;

    &[data-is-member="true"] {
      color: $gray-black;
      background-color: $gray-white;
    }

    &[data-is-member="false"] {
      color: $gray-white;
      background-color: $color-secondary;
    }
  }

  &__title-icon {
    margin-right: 12px;

    &[data-rank="green"] {
      color: #36d98d;
    }

    &[data-rank="gold"] {
      color: #f4c039;
    }

    &[data-rank="platnum"] {
      color: #64cce3;
    }

    &[data-rank="silver"] {
      color: #aabac6;
    }
  }

  &__image-wrapper {
    position: relative;
  }

  &__name {
    padding: 8px 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    line-height: 1.1875;
    font-size: $font-size-lg;
    color: $gray-white;
    background-image: linear-gradient(180deg, rgba($gray-black, 0), rgba($gray-black, 0.5));
    @include full-fill;
  }

  &__action {
    margin-top: 20px;
  }
}
