.home {
  position: relative;
  height: 100%;
  background: rgba(#122333, 0.7);
  background: url("../../../assets/images/backgrounds/background01.jpg") no-repeat center center;
  background-size: cover;

  &__menu-link-text {
    margin-left: 16px;
    font-size: $font-size-sm;
  }
}
