.home-table {
  position: relative;
  height: 100%;

  &__seating-plan {
    display: flex;
    height: 373px;
    border-bottom: 1px solid $gray-light;
    justify-content: space-between;

    &__notice {
      position: absolute;
      top: 0;
      right: 0;
      padding: 6px 10px;
      font-size: $font-size-sm;
      background-color: #20b470;
      color: #fff;
      border-radius: 0 0 0 4px;
    }
  }

  &__seated-wrapper {
    padding: 90px 0 0 62px;
  }
  &__seated-title {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    color: $gray-white;
    font-weight: 400;
    font-size: $font-size-sm;
  }

  &__standing-wrapper {
    padding: 69px 62px 0 0;
  }

  &__standing-title {
    margin-top: 19px;
    text-align: center;
    width: 100%;
    color: $gray-white;
    font-weight: 400;
    font-size: $font-size-sm;
  }

  &__detection-wrapper {
    padding-top: calc(55px - 30px);
  }
}
