{
  "presets": ["react-app"],
  "plugins": [
    "react-hot-loader/babel",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    ["import", { "libraryName": "antd", "libraryDirectory": "es" }],
    ["@babel/plugin-proposal-optional-chaining", { "loose": true }]
  ]
}
