.icon {
  &[data-flipped="vertically"] {
    transform: scale(1, -1);
  }

  &[data-flipped="horizontally"] {
    transform: scale(-1, 1);
  }

  &[data-rotated="clockwise"] {
    transform: rotate(90deg);
  }

  &[data-rotated="counterclockwise"] {
    transform: rotate(-90deg);
  }
}
