.home-setting-popup-layout {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &[display="flex"] {
    display: flex;
  }

  &[display="none"] {
    display: none;
  }

  .home-setting-popup-dialog {
    width: 887px;
    height: 522.5px;
    background-color: white;
    text-align: center;
    color: $color-secondary-dark;

    .home-setting-popup-title {
      font-size: 72px;
    }

    .home-setting-popup-content {
      font-size: 36px;
    }
  }
}
