.home-layout-header {
  padding: $header-padding;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: $header-width;
  height: $header-height;
  background-color: $color-secondary-dark;
}
