// Color
// ---

// basic
$color-primary-dark                   : rgb(179, 143, 088); // #b38f58
$color-primary                        : rgb(179, 143, 088); // #b38f58
$color-primary-light                  : rgb(179, 143, 088); // #b38f58
$color-secondary-dark                 : rgb(018, 035, 051); // #122333
$color-secondary                      : rgb(055, 070, 082); // #2f3b52
$color-secondary-light                : rgb(148, 160, 173); // #94a0ad
// $color-third-dark                     : rgb(000, 000, 000); //
// $color-third                          : rgb(000, 000, 000); //
// $color-third-light                    : rgb(000, 000, 000); //
// $color-fourth-dark                     : rgb(000, 000, 000); //
// $color-fourth                          : rgb(000, 000, 000); //
// $color-fourth-light                    : rgb(000, 000, 000); //

// gray
$gray-black                           : rgb(000, 000, 000); // #000000
$gray-darkest                         : rgb(051, 051, 051); // #333333
$gray-darker                          : rgb(102, 102, 102); // #666666
$gray-dark                            : rgb(153, 153, 153); // #999999
$gray                                 : rgb(170, 170, 170); // #aaaaaa
$gray-light                           : rgb(204, 204, 204); // #cccccc
$gray-lighter                         : rgb(238, 238, 238); // #eeeeee
$gray-lightest                        : rgb(245, 245, 245); // #f5f5f5
$gray-white                           : rgb(255, 255, 255); // #ffffff


// Transition
// ---
$transition-mode                      : cubic-bezier( .25, .8, .25, 1);


// Texting
// ---

$font-family                          : "system", "-apple-system", "PingFang-TC", "Segoe UI", "Microsoft JhengHei",
                                        "Roboto", "Oxygen", "Fira Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
// 24 32 28
$font-size-xl                         : 36px;
$font-size-lg                         : 32px;
$font-size-md                         : 28px;
$font-size-sm                         : 24px;
$font-size-xs                         : 20px;


// Layout
// ---
$header-padding                       : 0 70px;
$header-width                         : 100%;
$header-height                        : 100px;

$footer-padding                       : 20px 24px;
$footer-width                         : 100%;
$footer-height                        : 120px;
