// If you have to use other language but English,
// you need setting document text format to utf-8.
// http://blog.shg25.com/?p=97
@charset "utf-8";

// Vendors
// ---
@import "~normalize.css";

// Numeric Keyboard
.numeric-keyboard {
  background: transparent !important;
}

// Nuka carosel
.slider-slide {
  outline: 0;
}

// Customize
// ---
@import "reboot.scss";

#root {
  height: 100vh;
}
