.home-camera {
  padding: 38px 57px;
  display: flex;
  justify-content: space-between;

  &__column {
  }

  &__title {
    margin-bottom: 25px;
    color: $gray-white;
    line-height: 1.325;
    text-transform: uppercase;
    font-size: $font-size-lg;
    font-weight: 500;
  }

  &__video-wrapper {
    overflow: hidden;
    position: relative;
    @include size(430px);
  }

  &__video {
    @include size(100%);
    @include position-center;
  }
}
