.home-settings {
  position: relative;
  padding: 80px 120px calc(120px + 80px) 120px;
  height: 100%;

  &__title {
    margin-bottom: 54px;
    color: $gray-white;
    line-height: 1.325;
    text-transform: uppercase;
    font-size: $font-size-lg;
    font-weight: 500;
  }

  &__footer {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px 24px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: $color-secondary-dark;
  }
}
