.home-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 52px;
  }

  &[data-align="top"] {
    align-items: flex-start;
  }
}
