.home-form-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }

  &[data-align="top"] {
    align-items: flex-start;
  }
}

.home-camera-setting-row {
  justify-content: flex-start;
  margin: 24px 0;
}
