.home-form-column {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;

  &[data-size="sm"] {
    width: 270px;
  }

  &[data-size="md"] {
    width: 300px;
  }

  &[data-size="lg"] {
    width: 450px;
  }
}
