.home-table-standing {
  display: flex;
  flex-wrap: wrap;
  width: calc((#{var(--standing-place-size)} + #{var(--standing-place-margin)} * 2) * #{var(--standing-column)});
  height: calc((#{var(--standing-place-size)} + #{var(--standing-place-margin)} * 2) * #{var(--standing-row)});

  &__place {
    overflow: hidden;
    position: relative;
    // top: 25px;
    // left: 10px;
    margin: var(--standing-place-margin);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba($gray-white, 0.5);
    @include size(var(--standing-place-size));

    &[data-is-selected="true"] {
      background-color: rgba($gray-white, 0.5);
    }

    &[data-has-image="true"] {
      border: none;
    }

    &[data-is-auto-clock="true"] {
      overflow: inherit;
      border: none;

      &:after {
        content: "Auto";
        position: absolute;
        left: 0;
        bottom: -13px;
        color: #fff;
        background-color: #20b470;
        font-size: $font-size-sm;
        width: 100%;
      }
    }
  }

  &__place-image {
    width: 100%;
    @include position-center;
  }

  &__place-empty {
    color: rgba($gray-white, 0.5);
    transform: scale(1.4);
  }
}
