.home-table-standing {
  display: flex;
  flex-wrap: wrap;
  width: calc((#{var(--standing-place-size)} + #{var(--standing-place-margin)} * 2) * #{var(--standing-column)});
  height: calc((#{var(--standing-place-size)} + #{var(--standing-place-margin)} * 2) * #{var(--standing-row)});

  &__place {
    margin: var(--standing-place-margin);
    padding: 5px;
    border: 1px solid $gray-white;
    @include size(var(--standing-place-size));
  }
}
